.dataContainer{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1.5rem;
    row-gap: 10px;
}

.dateTime{
    font-weight: 200;
    text-align: center;
}

.city{
    text-align: center;
    font-size: 1.5rem;
}

.weather{
    text-align: center;
    text-transform: capitalize;
    color: #61d9fb;
    font-weight: 300;
}

.weatherData{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.animation{
    width: 7.5rem;
    height: 7.5rem;
}

.tempValue{
    font-size: 2.5rem;
}

.celsius{
    width: 3rem;
    height: 3rem;
}

.desc{
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-weight: 300;
    font-size: 0.75rem;
}

.desc span{
    display: flex;
    align-items: center;
    align-content: center;
}

.desc span img{
    width: 2rem;
    height: 2rem;
}

.line{
    margin: 0 0.5rem;
}

.high_low{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #61d9fb; */
}

.highIcon{
    margin: 0 0.5rem;
}

.lowIcon{
    margin: 0 0.5rem;
}

.wordWeight{
    font-weight: 300;
    margin-right: 0.25rem
}

.degree{
    padding-bottom: 0.5rem;
}

.next5{
    border-bottom: 0.01rem solid rgba(255, 255, 255, 0.5);
    padding: 0.5rem;
    margin: 0 2rem;
    font-weight: 300;
}

/* .forecast{
    display: flex;
    margin: 0 1rem;
    column-gap: 3rem;
    text-align: center;
    font-size: 0.75rem;
} */

.forecast{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    font-size: 0.75rem;
    grid-gap: 4px;
    text-align: center;
}

.forecast div{
    grid-column: span 2;
}

.forecast div:nth-child(4){
    grid-column: span 3;
    /* background-color: aquamarine; */
    margin-left: 5rem;
    margin-top: 1rem;
}
.forecast div:nth-child(5){
    grid-column: span 3;
    /* background-color: blueviolet; */
    margin-right: 5rem;
    margin-top: 1rem;
}